:root {
    --primary-color: #161853;
    --secondary-color: #292C6D;
    --text-color-primary: #faedf0;
    --text-color-secondary: #faedf0c9;
    --nav-footer-color: #EC255A;
}

  body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* Navbar */

.my-nav {
    background-color: var(--nav-footer-color);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: var(--text-color-primary);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--text-color-secondary)
}

.btn {
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    padding: 5px 15px;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
}

/* Carousel */
.carousel-inner .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 6%;
    padding-left: 20%;
    text-align: left;
    color: var(--text-color-primary);
}

.carousel-caption h1 {
    text-shadow: 2px 2px 4px #000000;
}