:root {
    --primary-color: #161853;
    --secondary-color: #292C6D;
    --text-color-primary: #faedf0;
    --text-color-secondary: #faedf0c9;
    --nav-footer-color: #EC255A;
}

* {
    padding: 0;
    margin: 0;
}

  body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* Navbar */

.my-nav {
    background-color: var(--nav-footer-color);
}
.navbar-light .navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color:var(--text-color-primary) !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link:hover{
        color: var(--text-color-secondary) !important;
    }

.btn {
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    padding: 5px 15px;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
}

/* Carousel */
.img-baner .text-capt {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
    color: #faedf0;
    text-shadow: 2px 2px #000000;
}

.img-baner .text-capt {
    position: absolute;
    width: 100%;
    top: 50px;
    text-align: center;
    color: #faedf0;
    text-shadow: 2px 2px #000000;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
    
    .navbar-light .navbar-nav 
    .nav-link {
        text-transform: uppercase;
    }

    .navbar-light .navbar-nav 
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid var(--secondary-color);
        width: 50%;
        margin: auto;
        padding-bottom: 2px;
    }

    .text-center {
        margin: -75px;
    }

    .text-center .text-white {
        height: 300px;
        padding-top: 80px;
    }

}